.intro-title {
    font : {
        weight: bold;
        family: $fontFamilyTitle;
        size: 3rem;
    }
}

.txt-title {
    font : {
        weight: bold;
        family: $fontFamilyTitle;
        size: 2.5rem;
    }
}