* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    font-family: $fontFamily;
}


.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}

.backgrounded {
    @extend %backgrounded;
}